.file {
	cursor: pointer;
}

svg {
	vertical-align: middle;
}

svg > path + path {
	fill: var(--grey);
}

.menu-container + div {
	width: 100%;
}

#body {
	width: 100%;
}
button {
	border: none;
	padding: 10px;
	border-radius: 5px;
	color: var(--light-grey);
	cursor: pointer;
}
