.pane-title {
	letter-spacing: 0.1em;
	font-family: var(--font-mono);
	font-size: 0.8rem;
}

.pane-head {
	background-color: var(--light-black);
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

.eye-icon {
	cursor: pointer;
}
.eye-icon:hover path:last-of-type {
	fill: var(--red-orange);
}
