/* Styles for the markdown preview */

#preview-content {
	margin-right: auto;
	margin-left: auto;
	max-width: 80ch;
	padding: 15px;
}

#preview-content > * {
	margin-bottom: 1.25rem;
}

.md-preview {
	font-family: var(--font-slab);
	overflow-y: scroll;
	width: 100%;
}

.md-preview pre {
	background-color: var(--dark-grey);
	padding: 20px;
	position: relative;
	border-radius: 5px;
	overflow-x: scroll;
}

.md-preview code {
	border-radius: 5px;
	padding: 0 5px;
	background-color: var(--dark-grey);
	font-family: var(--font-mono);
}
.md-preview ul li::marker {
	color: var(--red-orange);
}

.md-preview blockquote {
	font-weight: 500;
	border-radius: 5px;
	border-left: 3px solid var(--red-orange);
	padding: 20px;
	background-color: var(--dark-grey);
}

.md-preview.light-theme blockquote,
.md-preview.light-theme code,
.md-preview.light-theme pre {
	background-color: var(--light-grey);
}

.md-preview img {
	width: 100%;
	border-radius: 5px;
}


.code-lang {
	background-color: var(--light-black);
	border-radius: 2px;
	padding: 3px 5px;
	position: absolute;
	top: 3px;
	right: 3px;
	color: var(--orange);
}

.md-preview th,
.md-preview td {
	border: 1px solid var(--grey);
	padding: 5px 8px;
}

.md-preview th {
	color: var(--orange);
}

.md-preview table {
	border-collapse: collapse;
}
