#side-menu {
	background-color: var(--light-black);
	height: 100%;
	display: flex;
	flex-direction: column;
	transform: translateX(0);
	width: 280px;
	transition: transform 350ms ease, width 350ms ease;
	flex-shrink: 0;
}

#side-menu.hide {
	width: 0;
	transform: translateX(-350px);
	visibility: hidden;
}

.menu__head {
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}

#side-menu #create-new {
	margin: 25px;
}

#create-new .accent-btn {
	width: 100%;
}

.current-note {
	color: var(--red-orange);
	background-color: var(--dark-grey);
	border-radius: 10px;
}
